:root {
    --primary-color: #5B40FF;
    --secondary-color: #22282B;
    --bg-color: #F3F5F6;
    --text-color: #909DA2;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.main-container { 
    height: 100%;
    padding: 0 140px;
    
}

header {
    width: 100%;
    height: 100px;
    padding: 40px 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.navigation-bar, .social-media {
    width: 100%;
    display: flex;
}


.navigation-bar > nav{
    width: 256px;
}


.social-media > nav{
    width: 148px;
}

.social-media {
    justify-content: end;
}

header nav {
    display: flex;
    justify-content: space-between;
}

a {
    color: #22282B;
    text-decoration: none;  
}

header a {
    font-weight: 500;
    font-size: 1.125rem;
}

.logo {
    text-align: center;
}

.service {
    width: 100%;
    height: 854px;
    padding: 82px 69px 0 69px;
    margin-bottom: 90px;
    box-sizing: border-box;
    background-color: var(--bg-color);
    border-radius: 30px;
    text-align: center;
    overflow: hidden;
}

h1 {
    font-size: 4.5rem;
    font-weight: 600;
    margin: 0;
}

button {
    border-radius: 11px;
    border: none;
    padding: 18px 45px;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 21.6px;
}


.service > button {
    margin: 36px 0 79px 0;
}   

.browser {
    width: 100%; 
    height: 100%;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: var(--secondary-color);
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}

.window {
    width: 100%;
    height: 100%;
    background-color: white;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    width: 53px;
}

.circle {
    width: 11px;
    height: 11px;
    border-radius: 50%;
}

#red {
    background-color: #FC5652;
}

#yellow {
    background-color: #FDBC40;
}

#green {
    background-color: #34C84A;
}

hr {
    margin: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

.trial, .statistics, .plans, .jumbotrons, .activities {
    width: 100%;
    padding: 90px 0;
}

.trial {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 70px 40px;
    max-height: 331px;
}

h2 {
   margin: 0;
   font-size: 3.25rem; 
   line-height: 62.4px;
}

.trial > h2 {
    grid-column: span 2;
}

p, .price-symbol, .price-text {
    margin: 0;
    color: var(--text-color);
    line-height: 25.2px;
    font-size: 1.125rem;
    font-weight: 500;
}

.description-part1 {
    grid-area: 2 / 1 / 3 / 2;
}

.description-part2 {
    grid-area: 2 / 2 / 3 / 3;
}

.btn-free {
    grid-area: 2 / 3 / 3 / 4;
    justify-self: end;
    align-self: start;
}


.statistics > h2 {
    margin-bottom: 50px;
}

.impacts {
    display: flex;
    flex: 1; 
}

.box {
    display: flex;
    justify-content: flex-end;
    position: relative;
    flex: 1;
    height: 211px;
    border-left: 1px solid #E6E9EA;
}

.box > p {
    left: -1.5px;
    position: absolute;
    padding-left: 20px;
    border-left: 3px solid var(--secondary-color);
}

.box > h2{
    align-self: flex-end;
    margin-right: 40px;
}

h3, .list li a{
    text-decoration: none;
    color: var(--secondary-color);
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 31.2px;
}

.plans {
    height: 1087px;
    text-align: center;
}

.variants {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 931px;
    margin-top: 92px;
    box-shadow: 0px 10px 110px rgb(34, 40, 43, 0.05);
    border-radius: 20px;
}


.plan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    padding: 54px 40px 90px 40px;
}

.price-symbol {
    position: relative;
    bottom: 10px;
    margin-right: 8px;
}

.price-text {
    vertical-align: baseline;
    margin-left: 11px;
}

.cost {
    margin-top: 22px;
    margin-bottom: 36px;
}

.short-divider {
    position: static;
    width: 100%;
    border-color: #E6E9EA;
}

.plan-text {
    margin-top: 29px;
    margin-bottom: 40px;
}

.plan-text > p{
    line-height: 22.4px;
    font-size: 1rem;
    text-align: start;
}

.buy-btn {
    margin-bottom: 70px;
}

.info {
    width: 100%;
    height: 100%;
    margin-top: 63px;
    position: relative;
}

.info > h3 {
    text-align: start;
    margin-bottom: 38px;
}
.info > p {
    text-align: start;
    color: var(--secondary-color);
}

.standart .info h3, .business .info h3{
    visibility: hidden;
}

.large-divider {
    position: relative;
    margin-top: 18px;
}

.large-divider hr {
    z-index: 5;
    position: absolute;
    width: 75vw;
    border-color: #E6E9EA;
}

ul {
    list-style-type: none;
    margin: 0;
}

.info ul {
    width: 100%;
    padding: 0;
    position: absolute;
    bottom: 0;
}

.info li {
    display: flex;
    align-items: center;
    line-height: 22.4px;
    font-size: 1rem;
}

.info li:nth-child(-n + 3) {
    margin-bottom: 16px;
}

.check {
    width: 27px;
    height: 27px;
    margin-right: 15px;
}

.standart {
    position: relative;
    padding-top: 534px;
    background-color: var(--bg-color);
}

.standart .info {
    margin-top: 0;
}


.most-popular {
    background-color: var(--primary-color);
    box-shadow: 10px 10px 55px 0 #4F6AFB4D;
    position: absolute;
    padding: 108px 40px 0 40px;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    top: -54px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: white;
}

.most-popular h3, .most-popular p {
    color: white;
}

.standart .buy-btn {
    background-color: white;
    color: var(--secondary-color);
}

.popular {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    color: var(--secondary-color);
    padding: 11px 23px;
    border-radius: 38px;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 16.8px;
    letter-spacing: 0.04em;
}

.jumbotrons {
    text-align: center;
}

.jumbotrons h3 {
    font-size: 2.25rem;
    line-height: 46.8px;
    padding-top: 45px;
    padding-bottom: 81px;
}

.activities {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.lists-container {
    width: 100%;
    margin-top: 54px;
    display: flex;
}

.list {
    flex: 1;
}

.list ul {
    padding-left: 0; 
}

.list li:nth-child(-n + 3) {
    margin-bottom: 20px;
}

.list li a {
    position: relative;
}

.list li a::after {
    content: ''; 
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url("./images/Arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 14px;
    vertical-align: middle;
}

.list:nth-child(-n + 2) {
    border-right: 1px solid #E6E9EA;
    margin-right: 69px;
}

#highlighted {
    color: var(--primary-color);
}

#highlighted::after {
    background-image: url("./images/Arrow-primary.svg");
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 91px 0 31px 0;
}

.social-media-circles {
    display: flex;
    margin-bottom: 30px;
}

footer .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    width: 72px;
    height: 72px;
}

.facebook {
    margin: 0 20px;
}

footer hr {
    position: static;
}

.footer-content {
    width: 100%;
    display: grid;
    padding-top: 31px;
    grid-template-columns: repeat(3, 1fr);
}

.footer-content .logo {
    justify-self: start;
}

.footer-content p, .footer-content a {
    font-weight: 500;
    font-size: 1rem;
    line-height: 22.4px;
}

.footer-content p {
    justify-self: center;
}

.policy {
    width: 287px;
    display: flex;
    justify-content: space-between;
    justify-self: end;
}







